body {
<<<<<<< HEAD
	background-color: rgb(84, 37, 151);
=======
	background-color: rgb(98, 151, 37);
>>>>>>> develop
	color: rgb(223, 217, 226);
	font-family: Arial, sans-serif;
}

h1 {
	font-size: 2em;
}

p {
	font-size: 1.2em;
}
